/* ROOT */

:root{
    --primaryText:#000;
    --titlesText:#767676;
    --jumboText:#F5F5F5;
}


.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.hind{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    color: var(--primaryText);
    font-size: 20px;
}

.hind-title{
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    color: var(--titlesText);
}

.hind-jumbotron{
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: var(--jumboText);
}
.jumbotron-sub{
    font-family: 'Montserrat', sans-serif;
    
    font-size: 25px;
    font-weight: 400;
    color: var(--jumboText);
}

/* GENERAL RULES */

.row{
    margin-left: 0;
    margin-right: 0;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    margin-left: 10%;
    margin-right: 10%;  
}
a:hover, a:visited, a:link, a:active{
    color: var(--titlesText);
    text-decoration: none;
} 
.map-body-container,
.seedo-body-container,
.signup-body-container,
.attractions-body-container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
}
.city-info-text,
.whats-on-text,
.map-info,
.info-text{
    text-align: left;
    padding: 20px;
    
}
.sub-items-container{
    margin-left: 5%;
    margin-right: 5%;
}
/* GENERAL RULES */

/* FOOTER */
.social-links {
    text-align: right;
    padding: 0;
	margin: 0 auto;
}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 30px;
	line-height: 7px;
	text-align: center;
	color: #767676;
	background: transparent;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	color: #000;
}

.footer-brand {
    color: #000;
}
/* FOOTER */

.index-body-container{
    background-attachment: fixed;
    background-color: white;
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;  
    margin-bottom: 2.5%; 
    text-align: center;
}

/* INDEX */

.index-banner-container{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/rathaus-fountain.jpeg) center center no-repeat;
    top: 0;
    height: 600px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    
}
.city-image-container{
    min-height: 300px;
    background:  url(../images/bielefeld-city-header.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
}
.whats-on-image-container{
    min-height: 300px;
    background:  url(../images/city-night-wide.jpeg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
}



#small-map{
    min-height: 250px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active, .accordion:hover {
  background-color: #ccc;
}
.active:after {
  content: "\2796"; 
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-expanded{
    padding-top: 18px;
    padding-bottom: 18px;
}
/* INDEX */


/* MAP */

.large-map-container{
    
    width: 100%;
}
#large-map{
    height: 700px;
    margin-right: 10%;
    margin-left: 10%;
}
.restaurants-container{
    background-color: blue;
}
.hotels-container{
    background-color: grey;
}
.todo-container{
    background-color: green;
}

/* MAP */

/* SEE&DO PAGE */
.seedo-banner-container{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../images/bridge-far.jpg) center center no-repeat;
    top: 0;
    height: 600px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
}
.jumbo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.seedo-intro{
    margin-top: 5%;
    margin-bottom: 5%;
}
.seedo-list-container{
    margin-left: 5%;
    margin-right: 5%;
}

.seedo-image{
    object-fit: cover;
    margin-right: 15px;
    width: 200px;
    height: 150px;
    position: relative;
    float: left;
}
.seedo-item{
    
    display: block;
}
.seedo-text{
    padding-top: 15px;
}
/* SEE&DO PAGE */
/* ATTRACTIONS PAGE */
.attractions-banner-container{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(../images/kesselbrink.jpeg) center center no-repeat;
    top: 0;
    height: 600px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
}
.sub-items-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.todo-bg-1{
    min-height: 300px;
    background:  url(../images/castle-night.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
}
.todo-bg-2{
    min-height: 300px;
    background:  url(../images/loom.jpeg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
}
.todo-bg-3{
    min-height: 300px;
    background:  url(../images/bielefeld-city-header.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
}







/* SIGNUP FORM */


.center-form {
	margin: 0 auto;
}


input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 35px;
  border: none
}





/* MEDIA QUERIES */

@media only screen and (max-width: 769px) {
    .index-banner-container,
    .seedo-banner-container,
    .attractions-banner-container{
        max-height: 300px;
    }
    
    .city-image-container,
    .map-info,
    .whats-on-image-container {
        display: none;
    }
    .footer,
    .social-links{
        text-align: center;
    }
    .jumbo{
        top: 30%;
    }
    .jumbotron-sub{
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .hind-title{
        font-size: 28px;
    }

}